*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}
input[type=text] { /*https://www.w3schools.com/howto/howto_css_animated_search.asp*/
    width: 200px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

input[type=text]:focus {
    width: 100%;
}

#map {
  height: 1000px;
  width: 100%;
 }

footer{
	text-align: center;
}

div.boxBanner{

	text-align: center;
}
.whatWeDo{
	text-align: center;
	padding-right: 0%;
	padding-top: 5%;
	font-size: 20px;
	
}
.map{
	text-align: center;
	padding-right: 0%;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 20px;
	
}
.meetTheTeam{
	text-align: center;
	padding-right: 0%;
	padding-top: 5%;
	font-size: 20px;
}
.bigNav{
	padding-left:3.5%;




	
}
.paper{
	background-image: url("images/background.png");
	padding-bottom: 5%;
	padding-right: 15%;
	padding-left: 15%;
	 background-size:100% auto;
	padding-top: 0%;

}


body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family:  "courier new",  sans-serif;
	text-align: Right;

	
	color: black;


}

section{
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 20px;
	/*padding-right: 100px;*/
	font-size: 20px;
	
}

header{
	background-color: aliceBlue;
	color: black; 
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%
	text-align: left;
}

nav{
	width: 100%;
	height: 60px;

	background-color: aliceBlue;
	
}

nav a, nav h3{
	float: center;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
	color: grey;
	font-size: 25px;


}

nav a:hover{
	
	color:yellow;

}
h1 {
	float: center;
	font-size: 30px;
	padding-top:5%;
	
	text-align: center
}
h2{
	font-family: "arial"
	font-size:15px;
	padding-right: 100px;
}
p{
	font-family: "arial";
}

/*hover menu*/
.container {
    overflow: hidden;
    background-image: url("images/navbackground.png");
    font-family: "courier new";
}

.container a {
    float: left;
    font-size: 32px;
    color: black;
    text-align: center;
    padding: 14px 160px;
    text-decoration: none;

}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 32px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: "courier new";
    float: center;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: lightGrey;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: yellow;
    font-family: "courier new";

}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 0px; /* I add this to cells to add a little padding*/
}